.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(61, 61, 241);
}

.jeu {
  background-color: white;
  padding: 30px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  text-align: center;
}

.image {
  width: 200px;
  height: 200px;
}

.jeu button {
  background-color: blue;
  color: white;
  border: none;
  padding: 10px;
  width: 90%;
  border-radius: 10px;
  cursor: pointer;
}

.jeu h1 {
  color: blue;
}

.jeu button:hover {
  opacity: 0.65;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}